body{
    font-family: roboto,sans-serif;

}

.navbar{
    background-color: #ec9fe5;
}

#cabecalho .nav .nav-link .active{
    background-color: #fff;
    color: #ec9fe5;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: #fff;
}

.section-title{
    font-family: pacifico, cursive;
}

.section-title span{
    color: #ec9fe5;
}

#sobre-nos, #pacotes{
    background-color: #f7e7f5;
}

.text-colored{
    color: #922d89;
}

.navbar-toggler{
    background-color: #fff;
}

.nav-link.active .nav-pacotes, #fale-conosco button{
    background-color: #ec9fe5;
    color: #fff;
}

.nav-pacotes .nav-link:hover{
    color:#ec9fe5
}



#carousel{
    height: auto;
}

.social-links li{
    text-decoration: none;
    list-style: none;
    display: inline;
}

@media (nax-width:768px){
    #carousel {
        margin-bottom: 5px;
    }

    .pt-5.pb-5 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}